@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap&css');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap&css');
@import url('./theme.less');

body {
  margin: 0;
  background-color: @C4;
  color: @C5;
  font-family: 'Titillium Web', sans-serif;

  overscroll-behavior: none;
}
